$blue1: rgba(11, 137, 240, 0.351);
$blue2: steelblue;
$blue3: rgba(1, 88, 159, 0.804);

$black1: rgba(7, 6, 6, 0.804);
$black2: rgb(1, 1, 1);
$black3: rgba(2, 0, 0, 0.598);

$white1: #fff;
$white2: rgba(255, 255, 255, 0.762);
$white3: #fefefe;



